.text-pri {
	color: #7b34b1;
}

.modal {
	color: #444444;
	text-align: center;
	font-weight: 700;
}

.text-seg {
	text-align: start;
}

.btn-pri {
	background-color: #6c757d;
	border: none;
}

.btn-seg {
	background-color: #7b34b1;
	border: none;
}
