@import "../variables.scss";
.color-text {
	color: #6600b4;
	font-weight: 500;
	font-size: 60px;
}

@media (max-width: 1199.98px) {
	.color-text {
		font-size: 40px;
	}
}

@media (max-width: 1199.98px) {
	.color-text {
		font-size: 40px;
	}

	.img-cart img {
		width: 100%;
	}
}

.cart p {
	font-size: 15px;
}

.cart img {
	width: 100%;
}
